#======================================#
#  Caligula's .gitignore for scripts.  #
#======================================#

# Ignore everything.
*

# But not these files.
!.gitignore
!4scanner.json
!bat.sh
!BTCprice.sh
!busyscreen.sh
!colors.sh
!dmenuAntium.sh
!dmenuRome.sh
!git.sh
!installer.sh
!lock.sh
!nmap.sh
!pipes.sh
!README.md
!riceman.sh
!scheme-CanvasedPastel.sh
!scheme-xErosion.sh
!snux.sh
!ss.sh
!termrecorder.sh
!termreplayer.sh
!walcycle.sh
