#======================================#
#  Caligula's .gitignore for scripts.  #
#======================================#

# Ignore everything.
*

# But not these files.
!.gitignore
!busyscreen.sh
!colors.sh
!dmenu.sh
!lock.sh
!nmap.sh
!pipes.sh
!README.md
!rice.sh
!ss.sh
!termrecorder.sh
!termreplayer.sh
!walcycle.sh
